/src/.idea/
/.idea/
/src/Database/Database.Context/bin/
/src/Database/Database.Context/obj/
/src/Database/Database.Models/bin/
/src/Database/Database.Models/obj/
/src/Database/Database.Repositories/bin/
/src/Database/Database.Repositories/obj/
/src/Project.Core/bin/
/src/Project.Core/obj/
/src/Project.HttpServer/bin/
/src/Services/Project.Services.EmployeeService/bin/
/src/Services/Project.Services.EmployeeService/obj/
/docs/images/*.bkp
/docs/images/*.drawio
/src/Project.HttpServer/obj/
/src/Project.HttpServer/obj/Debug/
/src/.idea/.idea.Project/
