/src/.idea/
/.idea/
/src/Database/Database.Context/bin/
/src/Database/Database.Context/obj/
/src/Database/Database.Models/bin/
/src/Database/Database.Models/obj/
/src/Database/Database.Repositories/bin/
/src/Database/Database.Repositories/obj/
/src/Project.Core/bin/
/src/Project.Core/obj/
/src/Project.HttpServer/bin/
/src/Services/Project.Services.EmployeeService/bin/
/src/Services/Project.Services.EmployeeService/obj/
/docs/images/*.bkp
/docs/images/*.drawio
/src/Project.HttpServer/obj/Debug/
/src/.idea/.idea.Project/
/src/Dto/Project.Dto.Http/bin/
/src/Dto/Project.Dto.Http/obj/
/src/Dto/Project.Dto.Http.Converters/bin/
/src/Dto/Project.Dto.Http.Converters/obj/
/src/Services/Project.Services.CompanyService/bin/
/src/Services/Project.Services.CompanyService/obj/
/src/Project.HttpServer/obj/*
/src/Project.HttpServer/obj/Debug/*
/src/Project.HttpServer/obj/
/src/Services/Project.Services.EducationService/bin/
/src/Services/Project.Services.EducationService/obj/
/src/Services/Project.Services.PositionService/bin/
/src/Services/Project.Services.PositionService/obj/
/src/Services/Project.Services.PostService/bin/
/src/Services/Project.Services.PostService/obj/
/src/Tests/Project.Service.Tests/bin/
/src/Tests/Project.Service.Tests/obj/
/frontend/.idea
/src.zip
/src/Tests/Project.Controller.Tests/bin/
/src/Tests/Project.Controller.Tests/obj/
